body {
  font-size: 20px;
  background-color: #B2EBF2;
}

.headerColor {
    background-color: #00838F;
}

.jumbotron {
  background-color: #B2EBF2;
}

.desc {
  width: 1000px;
  height: 225px;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
}  
