/* Sets a light gray background color */
body {
  background-color: lightgray;
  font-size: 20px;
}

/* Color for the header*/
.headerColor {
    color: black;
}

.desc {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}  
