/* Sets a light gray background color */
body {
  background-color: lightgray;
  font-size: 20px;
}

/* Color for the header*/
.headerColor {
    color: black;
}

.desc {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}  
